.app__blogs {
    position: relative;
    padding: 30px 25px 0 25px;
    box-shadow: inset 0 0 10em var(--color-purple);
    background: var(--color-white);
}

.app__blogs-title {
    text-align: left;
    margin-bottom: 20px;
}

.app__blogs-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.app__blogs-wrapper {
    width: 55%;
    margin: 0 25px 150px 25px;
}

.app__blogs-wrapper_blog {
    position: relative;
}

.app__blogs-wrapper_blog-image {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}

.app__blogs-wrapper_blog-image img {
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.app__blogs-wrapper_blog-text {
    margin-top: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;
    height: 120px;
}

.app__blogs-wrapper_blog-text .click {
    position: absolute;
    width: 50px;
    height: 60px;
    bottom: 0px;
    left: 0px;
    margin: 20px 20px;
}

.app__blogs-wrapper_blog-text .click img{
    width: 100%;
    height: 100%;
}

.app__blogs-wrapper_blog-text .rotate {
    position: absolute;
    width: 60px;
    height: 60px;
    margin: 20px 20px;
    bottom: 0;
    right: 0;
}

.app__blogs-wrapper_blog-text .rotate img{
    width: 100%;
    height: 100%;
}

.app__blogs-wrapper_blog-text h3 {
    line-height: 40px;
    color: var(--color-purple);
    text-shadow: 0.4px 0.4px var(--color-grey);
    margin: 10px 0 0 0 ;
}

.blog__background {
    height: 470px;
    opacity: 0.3;
    z-index: -1;
    top: 0;
}

.swipe__hand-blogs {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 75px;
    height: 60px;
    z-index: 1;
}

.swipe__hand-blogs img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1150px) {
    .app__blogs-wrapper_blog-image img {
        height: 300px;
    }

    .app__blogs-wrapper_blog-text {
        margin: 300px 0 10px 0;
        height: 140px;
        padding: 0 80px;
    }

    .blog__background {
        height: 450px;
    }

    .swipe__hand-blogs {
        width: 65px;
        height: 50px;
    }

    .app__blogs-wrapper_blog-text .click {
        width: 40px;
        height: 50px;
    }
    
    .app__blogs-wrapper_blog-text .rotate {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 900px) {
    .app__blogs-wrapper_blog-image img {
        height: 250px;
    }

    .app__blogs-wrapper_blog-text {
        margin: 250px 0 10px 0;
        height: 140px;
        padding: 0 80px;
    }

    .blog__background {
        height: 400px;
    }
}

@media screen and (max-width: 800px) {
    .app__blogs-wrapper_blog-text h3 {
        font-size: 25px;
    }

    .app__blogs-wrapper {
        width: 80%;
        margin: 0 25px 100px 25px;
    }

    .app__blogs-wrapper_blog-text p {
        font-size: 18px;
    }
}

@media screen and (max-width: 585px) {
    .app__blogs-wrapper {
        width: 80%;
    }

    .app__blogs-wrapper_blog-image img {
        height: 390px;
    }

    .swipe__hand-blogs {
        top: 65px;
        width: 55px;
        height: 40px;
    }
    
    .app__blogs-wrapper_blog-text {
        margin: 390px 50px 0 50px;
        height: 130px;
    }

    .app__blogs-wrapper_blog-text .click {
        width: 35px;
        height: 40px;
        margin: 10px 10px;
    }

    .app__blogs-wrapper_blog-text .rotate {
        width: 40px;
        height: 40px;
        margin: 10px 10px;
    }

    .app__blogs-wrapper_blog-text {
        justify-content: space-evenly;
        padding: 10px 10px 10px 10px;
    }

    .app__blogs-wrapper_blog-text h3 {
        font-size: 20px;
        line-height: 23px;
        margin: 0;
    }

    .app__blogs-wrapper_blog-text p {
        font-size: 15px;
    }

    .blog__background {
        height: 520px;
    }
}

@media screen and (max-width: 350px) {
    .app__blogs-wrapper_blog-text {
        margin: 390px 0 0 0;
        height: 130px;
    }

    .app__blogs-wrapper_blog-text h3 {
        font-size: 18px;
    }

    .app__blogs-wrapper_blog-text p {
        font-size: 14px;
        padding: 0 40px;
    }
}