.app__navbar-cart {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 88px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    position: relative;
    background: var(--color-yellow);
    border-bottom: 1px solid var(--color-purple);
}

.app__navbar-cart__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
}
    
.app__navbar-cart span {
    color: var(--color-purple);
    font-weight: bold;
    margin-top: 5px;
}

.app__navbar-cart__count {
    width: 1.3rem;
    height: 1.2rem;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    right: 16px;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0 !important;
    letter-spacing: 0 !important;
}

.app__navbar-cart__count {
    border: 2px solid var(--color-yellow);
    background: var(--color-blue);
}

.app__navbar-smallCart {
    position: fixed;
    background: var(--color-purple);
    width: 280px;
    display: flex;
    justify-content: center;
    height: 100vh;
    top: 0;
    right: -100%;
    transition: 850ms;
    z-index: 10;
}

.app__navbar-smallCart.active {
    right: 0;
    transition: 350ms;
}

.app__navbar-smallCart_items {
    width: 100%;
}

.app__navbar-smallCart_items-visible {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    box-shadow: 0 1px var(--color-white);
}

.app__navbar-smallCart_items-visible h1 {
    font-family: var(--font-anton);
    margin-left: 20px;
    color: var(--color-white);
    display: inline-block;
    font-weight: 100;
}

.app__navbar-cart__close {
    align-self: stretch;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px 20px;
}

.app__navbar-smallCart_items-content {
    background: var(--color-white);
    padding: 15px;
    height: calc(100% - 170px);
    overflow-y: auto;
}

.app__navbar-smallCart_items-content_empty {
    flex-direction: column;
    margin-top: 80px;
    text-align: center;
}

.app__navbar-smallCart_items-content_empty-icon {
    font-size: 90px;
    color: rgb(128, 128, 128, 0.5);
}

.app__navbar-smallCart_items-content_empty h1 {
    color: var(--color-purple);
    margin: 30px 0;
    font-size: 40px;
    line-height: 35px;
    
}

.app__navbar-smallCart_items-content_empty p {
    font-size: 20px;
    color: var(--color-purple);
    font-weight: normal;
}

.cart__item {
    display: flex;
    margin-bottom: 20px;
}

.cart__item img {
    height: 59px;
}

.cart__item-description {
    margin: 0 10px;
}

.cart__item-description h6 {
    font-family: var(--font-anton);
    font-size: 14px;
    color: var(--color-purple);
    letter-spacing: 0.5px;
}

.cart__item p,
.cart__item span {
    font-family: var(--font-menu);
    color: var(--color-purple);
    font-weight: 100;
    letter-spacing: 0.5px;
    line-height: 12px;
    font-size: 14px;
}

.cart__item-price {
    margin-top: 4px;
}

.app__navbar-smallCart_items-checkout {
    padding: 10px 20px 40px 20px;
    position: absolute;
    width: 100%;
    background: var(--color-yellow);
    bottom: 0;
}

.app__navbar-smallCart_items-checkout_total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background: var(--color-yellow);
}

.app__navbar-smallCart_items-checkout_total p {
    font-size: 20px;
    color: var(--color-purple);
}

.app__navbar-smallCart_items-checkout .custom__button {
    background: var(--color-purple);
    color: var(--color-yellow);
    border: 1px solid var(--color-yellow);
    width: 100%;
}

.app__navbar-smallCart_items-checkout .custom__button:hover {
    background: var(--color-purple);
    color: var(--color-white);
    border: 1px solid var(--color-purple);
    box-shadow:  0 0 1em 0 var(--color-purple);
}

.app__navbar-cart__background {
    background: var(--color-purple);
    opacity: 0.5;
    width: calc(100% - 280px + 12px);
    position: absolute;
    right: calc(280px - 12px);;
    top: 0;
    height: 100vh;
    display: none;
    z-index: 1000;
    overflow: hidden;
}

@media screen and (max-width: 920px) {
    .app__navbar-cart span {
        display: none;
    }

    .app__navbar-cart {
        min-width: 64px;
    }

    .app__navbar-cart__count {
        top: 12px;
        right: 4px;
    }
}

@media screen and (max-width: 585px) {
    .app__navbar-cart {
        grid-column-start: 6; 
        min-width: 0;
        max-width: 60px;
        padding: 0 15px;
        justify-self: end;
    }

    .app__navbar-smallCart_items-content_empty-icon {
        font-size: 60px;
    }
}