.app__newsletter-banner {
    z-index: -2;
}

.app__newsletter-content h1 {
    color: var(--color-purple);
}

.app__newsletter-content_gif {
    animation: move 20s linear infinite;
}

@keyframes move {
    0% {
        transform: translate(0)
    }
    10% {
        transform: translate(55px)
    }
    20% {
        transform: translate(110px)
    }
    30% {
        transform: translate(165px)
    }
    40% {
        transform: translate(220px)
    }
    49.9% {
        transform: translate(270px) 
    }
    50% {
        transform: translate(275px) scaleX(-1)
    }
    50.1% {
        transform: translate(270px) scaleX(-1);
    }
    60% {
        transform: translate(220px) scaleX(-1);
    }
    70% {
        transform: translate(165px) scaleX(-1);
    }
    80% {
        transform: translate(110px) scaleX(-1);
    }
    90% {
        transform: translate(55px) scaleX(-1);
    }
    100% {
        transform: translate(0px) scaleX(-1);
    }
}

.app__newsletter-content input {
    border: 2px solid var(--color-purple);
}

.app__newsletter-content button {
    border-radius: 0;
    border: 2px solid var(--color-purple);
    padding: 0.3rem 1.5rem !important;
}

.app__newsletter-content button:hover {
    border: 2px solid var(--color-purple);
    background-color: rgba(33, 37, 41, 0.8);
    box-shadow: none;
}

.app__newsletter-background {
    z-index: -1;
}

@media screen and (min-width: 1800px) {
    .app__newsletter {
        height: 450px;
    }
}

@media screen and (max-width: 1400px) {
    .app__newsletter {
        height: 300px;
    }
}

@media screen and (max-width: 1150px) {
    .app__newsletter {
        height: auto;
    }

    .app__newsletter-banner {
        object-fit: cover;
    }
}

@media screen and (max-width: 585px) {
    .app__newsletter-content_input input {
        padding: 1.5px 5px;
        height: 30px;
        font-size: 18px;
    }

    .app__newsletter-content h1 {
        font-size: 22px;
    }

    .app__newsletter-content_input button {
        height: 30px;
        line-height: 10px;
        font-weight: lighter;
    }

    .app__newsletter-content_gif {
        margin-top: 10px;
        animation: move 18s linear infinite;
    }

    @keyframes move {
        0% {
            transform: translate(0)
        }
        10% {
            transform: translate(35px)
        }
        20% {
            transform: translate(70px)
        }
        30% {
            transform: translate(105px)
        }
        40% {
            transform: translate(140px)
        }
        49% {
            transform: translate(175px) 
        }
        50% {
            transform: translate(180px) scaleX(-1)
        }
        51% {
            transform: translate(175px) scaleX(-1);
        }
        60% {
            transform: translate(140px) scaleX(-1);
        }
        70% {
            transform: translate(105px) scaleX(-1);
        }
        80% {
            transform: translate(70px) scaleX(-1);
        }
        90% {
            transform: translate(35px) scaleX(-1);
        }
        100% {
            transform: translate(0px) scaleX(-1);
        }
    }
    
    .app__newsletter-content_gif img {
        width: 50px;
    }

    .app__newsletter-content_input input {
        border: 1px solid var(--color-purple);
    }

    .app__newsletter-content_input button {
        border: 1px solid var(--color-purple);
    }

    .app__newsletter-content_input button:hover {
        border: 1px solid var(--color-purple);
    }
}

@media screen and (max-width: 335px) {
    .app__newsletter-content_gif {
        margin-top: 0px;
        margin-left: 35px;
    }

    .app__newsletter-content h1 {
        font-size: 20px;
    }
}