.app__selection-wrapper__swiper {
    padding: 50px;
}

.app__selection-wrapper__swiper-slide {
    -webkit-transform: translateZ(0);
    box-shadow: rgb(33, 37, 41) 0px 20px 30px -10px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.app__selection-wrapper__swiper-slide:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.app__selection-wrapper__swiper .swiper-left,
.app__selection-wrapper__swiper .swiper-right {
    box-shadow: rgb(33, 37, 41) 0px 20px 30px -10px;
}

.app__selection-wrapper__swiper-slide__image {
    width: 100%;
    z-index: -2;
    padding: 10px;
}

.app__selection-wrapper__swiper-slide__image img {
    width: 100%;
}

.app__selection-wrapper__swiper-slide__logo {
    margin: 20px 15px 0 auto;
}

.app__selection-wrapper__swiper-slide__text {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.app__selection-wrapper__swiper-slide h1 {
    margin: 0 auto 0 auto;
    font-size: 16px !important;
    line-height: 20px;
    color: var(--color-purple);
    font-weight: lighter;
    text-align: center;
}

.app__selection-wrapper__swiper-slide p {
    font-family: var(--font-menu);
    margin: 10px auto 20px auto;
    font-size: 18px !important;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--color-blue);
    text-shadow: 0.5px 0.5px var(--color-purple);
}    

.selection__swiper-background {
    height: 100%;
    z-index: -1;
    opacity: 0.2;
    border-radius: 10px;
}

@media screen and (max-width: 585px) {
    .app__selection-wrapper__swiper {
        margin-top: 10px;
        padding: 15px 15px 50px 15px;
    }

    .app__selection-wrapper__swiper .swiper-left {
        left: 0;
    }

    .app__selection-wrapper__swiper .swiper-right {
        right: 0;
    }

    .app__selection-wrapper__swiper-slide {
        box-shadow: inset 0 0 0.25em 0 var(--color-white), 0 0 0.5em 0 var(--color-purple);
    }
    
    .app__selection-wrapper__swiper-slide:hover {
        -webkit-transform: scale(0.8);
	    transform: scale(0.8);
        box-shadow: inset 0 0 0.5em 0 var(--color-white), 0 0 1em 0 var(--color-purple);
    }

    .app__selection-wrapper__swiper-slide__logo {
        margin: 15px 15px 15px auto;
    }

    .app__selection-wrapper__swiper-slide__image {
        margin: 0 0 5px 0;
    }

    .app__selection-wrapper__swiper-slide__text {
        padding: 0 10px;
    }

    .app__selection-wrapper__swiper-slide h1 {
        font-size: 14px !important;
        line-height: 20px;
    }
    
    .app__selection-wrapper__swiper-slide p {
        margin: 5px auto 10px auto;
        font-size: 16px !important;
    }  
}