.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__text {
    margin-left: 5px;
}

.logo__text-letter {
    -webkit-transform: rotateY(180deg); 
}

.reverse {
    color: var(--color-yellow) !important;
    letter-spacing: 0px !important;
    margin-left: 2px;
}