.app__video {
    height: 100vh;
    position: relative;
}

.app__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.app__video-overlay {
    position: absolute;
    inset: 0;
    background: rgba(70, 52, 78, 0.4);
}

.app__video-overlay_text {
    font-family: var(--font-yanone);
    font-size: 70px !important;
    text-align: center;
    margin: 0 80px;
    color: var(--color-yellow);
    text-shadow: 1.5px 1.5px var(--color-purple);
}

@media screen and (min-width: 1920px) {
    .app__video-overlay_text {
        font-size: 80px !important;
    }
}

@media screen and (max-width: 1280px) {
    .app__video-overlay_text {
        font-size: 60px !important;
    }
}

@media screen and (max-width: 800px) {
    .app__video-overlay_text {
        font-size: 40px !important;
        margin: 0 40px;
    }
}