.app__footer-center a {
    font-size: 14px;
    line-height: 18px;
}

.app__footer-center_logo .p__text {
    line-height: 25px;
}

.app__footer-center_logo h5 {
    font-size: 22px;
    color: var(--color-blue);
    font-weight: normal;
}

.app__footer-content_end a:hover {
    color: var(--color-blue);
    transform: scale(1.3);
    transition: all .2s ease-in-out;
}

@media screen and (max-width: 1000px) {
    .app__footer-top img {
        width: 80px;
    }

    .app__footer-center {
        padding: 30px 25px !important;
        gap: 20px;
        flex-wrap: wrap;
    }

    .app__footer-center_logo {
        width: 50%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 585px) {
    .app__footer-top img {
        width: 50px;
        margin: 0 10px 0 0;
    }

    .app__footer-center_logo {
        width: 50%;
    }

    .app__footer-center_logo .p__text {
        line-height: 25px;
    }
    
    .app__footer-center_logo h5 {
        font-size: 14px;
        font-weight: normal;
        margin-top: 15px;
    }
}