.app__activities-cards_content {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.app__activities-cards_content:hover {
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
}

.app__activities-cards_content img {
    box-shadow: rgb(33, 37, 41) 0px 20px 30px -10px;
}

.app__activities-cards_content h1 {
    text-shadow: 1.5px 1.5px var(--color-purple);
}

@media screen and (max-width: 1150px) {
    .app__activities-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        justify-items: center;
    }

    .card1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .card3 {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .card4 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
    }

    .card2 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
    }
    .card5 {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .app__activities-cards_content {
        margin: 0;
    }

    .app__activities-cards_content img {
        height: 400px !important;
    }
}

@media screen and (max-width: 585px) {
    .app__activities-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .card1 {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .card3 {
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .card4 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
    }

    .card2 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2; 
    }
    .card5 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .app__activities-cards_content img {
        height: 300px !important;
    }

    .app__activities-cards_content h1 {
        font-size: 25px;
    }
}