.app__header {
    position: relative;
}

.app__header img {
    background-size: cover;
    width: 100%;
    height: 700px;
    position: absolute;
    z-index: -10;
}

.app__header-background {
    background: var(--color-purple);
    width: 100%;
    height: 700px;
    position: absolute;
    z-index: -9;
    opacity: 0.3;
}

.app__header-wrapper__swiper {
    width: 100%;
    max-width: 1000px;
    height: 550px;
}

.app__header-wrapper__swiper-slide {
    width: 100%;
    max-width: 1000px;
    height: 550px;
    position: relative;
    -webkit-transform: translateZ(0);
}

.app__header-wrapper__swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background {
    background: var(--color-purple);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -7;
    opacity: 0.3;
}

