.header img {
    height: 85vh;
}

.content {
    margin-left: 5rem;
    top: 5rem;
}

.content h1 {
    font-size: 5vw;
    margin-bottom: 2rem;
}

.content p {
    font-size: 2vw;
    line-height: 40px;
    margin-bottom: 10rem;
}

.content h1,
.content p {
    text-shadow: 1.5px 1.5px var(--color-purple);
    letter-spacing: 1px;
}    

@media screen and (max-width: 1280px) {
    .content h1 {
        font-size: 4vw;
        margin-bottom: 1rem;
    }
    
    .content p {
        line-height: 30px;
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 1024px) {
    .header img {
        height: 70vh;
    }

    .content {
        margin-left: 3rem;
        top: 3rem;
    }
    
    .content p {
        line-height: 17px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        margin-left: 2rem;
        top: 2rem;
    }

    .content h1 {
        font-size: 4.5vw;
        margin-bottom: 0.5rem;
    }
    
    .content p {
        font-size: 2.25vw;
        line-height: 20px;
    }
}

@media screen and (max-width: 585px) {
    .content {
        margin-left: 1.5rem;
    }
    
    .content h1 {
        font-size: 6vw;
        margin-bottom: 0.5rem;
    }
    
    .content p {
        font-size: 4vw;
        line-height: 20px;
    }
}