@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

:root {
  --font-logo: 'Michroma', sans-serif;
  --font-menu: 'Chakra Petch', sans-serif;
  --font-text: 'Big Shoulders Display', cursive;
  --font-anton: 'Anton', sans-serif;
  --font-yanone: 'Yanone Kaffeesatz', sans-serif;
  
  --color-yellow: #FAED26;
  --color-blue: #007DBC;
  --color-purple: #46344E;
  --color-grey: #5A5560;
  --color-white: #ffffff;
  --color-green: #3E9309;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

li {
  list-style: none;
}